<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration> 
    <connectionStrings>
    <add name="ConStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\TareaDataBase.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="Contactos.Properties.Settings.ConStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\TareaDataBase.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TareaDataBase.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
        <Contactos.Properties.Settings>
            <setting name="ConStr" serializeAs="String">
                <value />
            </setting>
        </Contactos.Properties.Settings>
    </applicationSettings>
<system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
